@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskManager.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Yeni Personel Ekleme Sayfası</h3>

<form asp-action="YeniPersonelEkle">
    <div class="form-group"></div>
    <div i class="text-danger"></div>
    <div class="form-group"> Ad: <input asp-for="personelAd"> </div>
    <div class="form-group"> Soyad: <input asp-for="personelSoyad"> </div>
    <div class="form-group"> İşe Başlama Tarihi: <input asp-for="iseBaslamaTarihi"> </div>
    <div class="form-group"> Telefon Numarası: <input asp-for="telNo"> </div>
    <div class="form-group"> Mail Adresi: <input asp-for="mailAdres"> </div>
    <select asp-for="depart.Id" asp-items="@(new SelectList(@ViewBag.departmanDeger, "Id","departmanAd"))">
     
    </select>
   
    <input type="submit" value="Personel Ekle" class="btn btn-info" style="margin-top: 10px" />
</form>
 
