@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskManager.Models.Departman
@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3>Yeni Departman Ekleme Sayfası</h3>
    
        <form asp-action="YeniDepartman">
            
            <div  class="text-danger"></div>
            <div> <input asp-for="departmanAd"> </div>
            <input style="margin-top:10px" type="submit" value="Departman Ekle" class="btn btn-info" />
        </form>
    