@model TaskManager.Models.Gorev
@{
    ViewData["Title"] = "GorevAta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GorevAta</h1>

<form asp-action="GorevAta">
    <select asp-for="per.personelId" asp-items="@(new SelectList(@ViewBag.personelDeger, "personelId","personelAd"))"></select>
    <div class="form-group">Görev Adı: <input asp-for="gorevAd"> </div>
    <div class="form-group"> Görev Detay: <input asp-for="gorevDetay" type="text"> </div>
    <div class="form-group"> Son Teslim Tarihi: <input asp-for="gorevSonTeslimTarihi" type="date"> </div>
    <br />
    <input type="submit" value="Personel Ekle" class="btn btn-info" style="margin-top: 10px" />
</form>